@font-face {
  font-family: font-1;
  src: url(./Fonts/Montserrat-Medium.ttf);
  font-family: font-2;
  src: url(./Fonts/Montserrat-Thin.ttf);
}
li {
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
